@-ms-viewport {
  width: device-width;
}

* {
  margin: 0;
  padding: 0;
}

body {
  // font-family: 'Source Sans Pro', sans-serif;
  // font-size: $base-font-size;
  margin: 0;
  font-family: "Lato", sans-serif;

}

h1 {
  font-weight: 300;
  margin-bottom: $space;
}
h2 {
  font-size: $large-font-size;
  margin-bottom: $space;
}

p {
  margin-bottom: $space;
}

a {
  color: black;
}

input[type=text], input[type=email], input[type=password] {
  border: 1px solid $input-border;
  font-size: $base-font-size;
  margin-bottom: $space;
  padding: $input-spacing;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px #ddd !important;
}
