// $navy: #0F1626;
// $leather: #AB987A;
// $violet: #FF533D;
// $eggshell: #F5F5F5;

@mixin link-font-style {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 13px;
  padding: .9rem 1.3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
}

.landing__section {
  height: 100vh;
  background: $eggshell;


    //
    // background: #19181A;
    //
    //
    // background: $eggshell;
    //
    // background: #479761;
    //
    // background: #C5C6C7;













  // background: linear-gradient(270deg, #0f1626, $eggshell, #ab987a);
  // background-size: 380% 380%;
  //
  // -webkit-animation: AnimationName 55s ease infinite;
  // -moz-animation: AnimationName 55s ease infinite;
  // -o-animation: AnimationName 55s ease infinite;
  // animation: AnimationName 55s ease infinite;
  //
  // @-webkit-keyframes AnimationName {
  //   0%{background-position:0% 50%}
  //   50%{background-position:100% 50%}
  //   100%{background-position:0% 50%}
  // }
  // @-moz-keyframes AnimationName {
  //   0%{background-position:0% 50%}
  //   50%{background-position:100% 50%}
  //   100%{background-position:0% 50%}
  // }
  // @-o-keyframes AnimationName {
  //   0%{background-position:0% 50%}
  //   50%{background-position:100% 50%}
  //   100%{background-position:0% 50%}
  // }
  // @keyframes AnimationName {
  //   0%{background-position:0% 50%}
  //   50%{background-position:100% 50%}
  //   100%{background-position:0% 50%}
  // }
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  max-width: 40%;
  margin: 0 auto;
}

.main_heading {
  color: $navy;
  font-weight: 300;
  font-size: 2.8rem;
  margin: 0;
  margin-bottom: 3rem;


  span {
    color: $violet;
    // font-size: 39px;
  }
}

.landing__section p {
  color: #252236;
  line-height: 2.4rem;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 3rem;
}

.landing__button {
  // background: transparent;
  // border: 1px solid $navy;
  background: $leather;
  color: $eggshell;
  width: 11rem;
  @include link-font-style;
  border-radius: 140px;
  -webkit-transition: background .5s ease, color .5s ease;
  transition: background .5s ease, color .5s ease;
}

.landing__button:hover, {
  background: $navy;
  color: $violet;
}

.down_icon {
  color: $violet;

  position: absolute;
  top: 90vh;
}

.down_icon:hover {
  cursor: pointer;
}


.landing__section2 {

  height: 100vh;
  background: $leather;

}

// need to edit
@media (max-width: 800px) {
  .landing__section p {
    display: none;
  }
}
