$landing-max-width: 75rem;
$navy: #0F1626;
$leather: #AB987A;
$coral: #A58EB7;
$eggshell: #F5F5F5;
// $navy: #0F1626;
// $leather: #AB987A;
// $coral: #FF533D;
// $eggshell: #F5F5F5;

@mixin link-font-style {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 13px;
  padding: .9rem 1.3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
}

.landing__header {
  // mix-blend-mode: difference
  // background: $navy;

  background: transparent;
  // border-bottom: .5px solid $navy;
  // background: transparentize($navy, .2);
  font-family: 'Roboto', sans-serif;
}

.landing__header__wrapper {
  width: 100vw;
  position: fixed;
}

.landing__header__content {
  color: $navy;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: $landing-max-width;
  margin: 0 auto;

  @include link-font-style;
}

.landing__header__title {
  margin: 0;
  // background: $coral;
}

.landing__header__button {
  color: $leather;
}

.landing__header__button:hover {
  color: $navy;
  cursor: pointer;
}

.landing__section {
  height: 100vh;
  background: $eggshell;




    //
    // background: #19181A;
    //
    //
    // background: $eggshell;
    //
    // background: #479761;
    //
    // background: #C5C6C7;













  // background: linear-gradient(270deg, #0f1626, $eggshell, #ab987a);
  // background-size: 380% 380%;
  //
  // -webkit-animation: AnimationName 55s ease infinite;
  // -moz-animation: AnimationName 55s ease infinite;
  // -o-animation: AnimationName 55s ease infinite;
  // animation: AnimationName 55s ease infinite;
  //
  // @-webkit-keyframes AnimationName {
  //   0%{background-position:0% 50%}
  //   50%{background-position:100% 50%}
  //   100%{background-position:0% 50%}
  // }
  // @-moz-keyframes AnimationName {
  //   0%{background-position:0% 50%}
  //   50%{background-position:100% 50%}
  //   100%{background-position:0% 50%}
  // }
  // @-o-keyframes AnimationName {
  //   0%{background-position:0% 50%}
  //   50%{background-position:100% 50%}
  //   100%{background-position:0% 50%}
  // }
  // @keyframes AnimationName {
  //   0%{background-position:0% 50%}
  //   50%{background-position:100% 50%}
  //   100%{background-position:0% 50%}
  // }
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  max-width: 40%;
  margin: 0 auto;
}

.main_heading {
  color: $navy;
  font-weight: 300;
  font-size: 2.8rem;
  margin: 0;

  span {
    color: $coral;
    // font-size: 39px;
  }
}



.landing__section p {
  color: #252236;
  line-height: 2.4rem;
  font-size: 18px;
  font-weight: 300;
  margin: 3rem 0;
}

.landing__button {
  // background: transparent;
  // border: 1px solid $navy;
  background: $leather;
  color: $eggshell;
  width: 11rem;
  @include link-font-style;
  border-radius: 140px;
}

.landing__button:hover {
  background: $navy;
  color: $eggshell;
}

.down_icon {
  color: $coral;

  position: absolute;
  top: 90vh;
}

.down_icon:hover {
  cursor: pointer;
}




























.landing__section2 {

  height: 100vh;
  background: $leather;


}
