// Colors
$navy: #0F1626;
$leather: #AB987A;
$violet: #A58EB7;
$eggshell: #F5F5F5;
$brand-primary: $leather;
$grey: #dddddd;
$light-grey: #f9f9f9;
$dark-grey: #777777;

 // Spacing
 $space: 1.4rem;
 $site-max-width: 91rem;

// Font sizes
$base-font-size: 1.4rem;
$large-font-size: 1.8rem;

 // Form inputs
$input-border: $grey;
$input-spacing: 1rem;

// Boxed view
$boxed-view-overlay-bg: $navy;
$boxed-view-bg: $eggshell;

// Button
$button-bg: $brand-primary;
$button-color: white;
$button-pill-color: $brand-primary;
$button-secondary-bg: $light-grey;
$button-secondary-color: $dark-grey;
$button-secondary-border-color: $grey;

// Header
$header-bg: $eggshell;
$header-color: $leather;
$header-height: 4.5rem;

// item
$item-bg: $light-grey;
$item-border: darken($item-bg, 8%);
$item-text-color: $dark-grey;

// Checkin Items
$severity-checkin-answer-primary: #8DB2E3;
$yes-checkin-answer-primary: #93D94D;
$no-checkin-answer-primary: #D84D4D;
