.boxed-view {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.boxed-view.login {
  background: $eggshell;
  -webkit-animation: bg_fade_light 1.4s ease;
  -moz-animation: bg_fade_light 1.4s ease;
  -o-animation: bg_fade_light 1.4s ease;
  animation: bg_fade_light 1.4s ease;
}

.boxed-view.signup {
  // background: $navy;
  // -webkit-animation: bg_fade_dark 1.4s ease;
  // -moz-animation: bg_fade_dark 1.4s ease;
  // -o-animation: bg_fade_dark 1.4s ease;
  // animation: bg_fade_dark 1.4s ease;

  // Edit
}

@-webkit-keyframes bg_fade_light {
  from { background-color: $navy; }
  to { background-color: $eggshell; }
}
@-moz-keyframes bg_fade_light {
  from { background-color: $navy; }
  to { background-color: $eggshell; }
}
@-o-keyframes bg_fade_light {
  from { background-color: $navy; }
  to { background-color: $eggshell; }
}
@keyframes bg_fade_light {
  from { background-color: $navy; }
  to { background-color: $eggshell; }
}

@-webkit-keyframes bg_fade_dark {
  from { background-color: $eggshell; }
  to { background-color: $navy; }
}
@-moz-keyframes bg_fade_dark {
  from { background-color: $eggshell; }
  to { background-color: $navy; }
}
@-o-keyframes bg_fade_dark {
  from { background-color: $eggshell; }
  to { background-color: $navy; }
}
@keyframes bg_fade_dark {
  from { background-color: $eggshell; }
  to { background-color: $navy; }
}

.boxed-view--modal {
  background: fade-out($boxed-view-overlay-bg, .3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.boxed-view__box {
  padding: 2.4rem;
  text-align: center;
  width: 24rem;
  color: $navy;
  border: 4px solid $leather;
  background-color: $eggshell;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.boxed-view__form {
  display: flex;
  flex-direction: column;
}

.boxed-view a {
  color: $navy;
}

.boxed-view a:hover {
  color: $violet;
}

.boxed-view__box--profile-model__wrapper {
  // width: 100%;
  // height: 100vh;
  display: flex;
  justify-content: center;
  // align-items: center;
}
.boxed-view__box--profile-model {
  position: fixed;
  margin: 0 auto;
  background: white;
  border: 2px solid $deep-purple-lighten-2;
  z-index: 5;
  // height: 25vh;
  // width: 30vw;
  padding: $space / 2;
  padding-bottom: $space;

  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;

  top: 40%;

  i {
    align-self: flex-end;
  }

  i:hover {
    cursor: pointer;
  }

}

.background-image-list {
  li {
    margin-right: $space / 2;
    display: inline;
  }
  li img {
    height: 60px;
    width: 80px;
  }
}

.boxed-view__login-box__overlay {
  display: flex;
  height: 100vh !important;
  width: 100vw !important;
  overflow: hidden !important;
  position: fixed !important;
  z-index: 5 !important;
  background: transparentize(black, .2) !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.boxed-view__login-box {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;

  margin: auto;
  // background: $eggshell;
  background: #ddd;

  width: 30%;
  height: 60%;
  position: relative;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  padding: .5rem 1.5rem;

  -webkit-animation: modal_fadein .5s ease;
  -moz-animation: modal_fadein .5s ease;
  -o-animation: modal_fadein .5s ease;
  animation: modal_fadein .5s ease;

  @-webkit-keyframes modal_fadein {
    from { opacity: 0 }
    to { opacity: 1 }
  }
  @-moz-keyframes modal_fadein {
    from { opacity: 0 }
    to { opacity: 1 }
  }
  @-o-keyframes modal_fadein {
    from { opacity: 0 }
    to { opacity: 1 }
  }
  @keyframes modal_fadein {
    from { opacity: 0 }
    to { opacity: 1 }
  }
}

.boxed-view__login-box__logo {
  // color: purple;
  font-size: 1.9rem;
  text-align: center;
  font-weight: 300;
  margin: 2rem 0 1rem 0;
  // text-decoration: underline;
  // font-family: serif;
}

.boxed-view__signup-box__wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.boxed-view__signup-box {
  // background: $navy;
  width: 50%;

  // padding: 2.4rem;
  // text-align: center;
  // color: $navy;
  border: 4px solid $leather;
  // background-color: $eggshell;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.boxed-view__signup-box__header {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  font-family: sans-serif;
  &.median {
    display: inline;
    margin: 0 1rem;
  }
}
