.boxed-view {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.boxed-view.login {
  background: $eggshell;
  -webkit-animation: bg_fade_light 1.4s ease;
  -moz-animation: bg_fade_light 1.4s ease;
  -o-animation: bg_fade_light 1.4s ease;
  animation: bg_fade_light 1.4s ease;
}

.boxed-view.signup {
  background: $navy;
  -webkit-animation: bg_fade_dark 1.4s ease;
  -moz-animation: bg_fade_dark 1.4s ease;
  -o-animation: bg_fade_dark 1.4s ease;
  animation: bg_fade_dark 1.4s ease;
}

@-webkit-keyframes bg_fade_light {
  from { background-color: $navy; }
  to { background-color: $eggshell; }
}
@-moz-keyframes bg_fade_light {
  from { background-color: $navy; }
  to { background-color: $eggshell; }
}
@-o-keyframes bg_fade_light {
  from { background-color: $navy; }
  to { background-color: $eggshell; }
}
@keyframes bg_fade_light {
  from { background-color: $navy; }
  to { background-color: $eggshell; }
}

@-webkit-keyframes bg_fade_dark {
  from { background-color: $eggshell; }
  to { background-color: $navy; }
}
@-moz-keyframes bg_fade_dark {
  from { background-color: $eggshell; }
  to { background-color: $navy; }
}
@-o-keyframes bg_fade_dark {
  from { background-color: $eggshell; }
  to { background-color: $navy; }
}
@keyframes bg_fade_dark {
  from { background-color: $eggshell; }
  to { background-color: $navy; }
}

.boxed-view--modal {
  background: fade-out($boxed-view-overlay-bg, .3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.boxed-view__box {
  padding: 2.4rem;
  text-align: center;
  width: 24rem;
  color: $navy;
  border: 4px solid $leather;
  background-color: $eggshell;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.boxed-view__form {
  display: flex;
  flex-direction: column;
}

.boxed-view a {
  color: $navy;
}

.boxed-view a:hover {
  color: $violet;
}

.boxed-view__box--profile-model__wrapper {
  // width: 100%;
  // height: 100vh;
  display: flex;
  justify-content: center;
  // align-items: center;
}
.boxed-view__box--profile-model {
  position: fixed;
  margin: 0 auto;
  background: white;
  border: 2px solid $deep-purple-lighten-2;
  z-index: 5;
  // height: 25vh;
  width: 30vw;
  padding: $space / 2;
  padding-bottom: $space;

  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;

  top: 40%;

  i {
    align-self: flex-end;
  }

  i:hover {
    cursor: pointer;
  }

}

.background-image-list {
  li {
    margin-right: $space / 2;
    display: inline;
  }
  li img {
    height: 60px;
    width: 80px;
  }
}
