.button {
  background-color: $button-bg;
  border: none;
  color: $button-color;
  cursor: pointer;
  font-size: $base-font-size;

  line-height: 1.2;
  margin-bottom: $space;
  padding: $input-spacing;
  -webkit-transition: background .5s ease, color .5s ease;
  transition: background .5s ease, color .5s ease;

  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1.1rem;
  // font-family: 'Source Sans Pro', sans-serif;
}

.button--auth {
  border: 1px solid $navy;
  background: transparent;
  color: $navy;
}

.button--auth:hover {
  background: $navy;
  border: 1px solid $navy;
  color: $eggshell;
}

.button--link {
  display: inline-block;
  text-decoration: none;
}

.button--pill {
  background-color: transparent;
  border: 1px solid $button-pill-color;
  color: $button-pill-color;
  margin: 0 ($space / 2) 0 0;
  padding: .3rem .8rem;
}

.button--secondary {
  background: $button-secondary-bg;
  color: $button-secondary-color;
  border: 1px solid $button-secondary-border-color;
}

.button--link-text {
  background: none;
  padding: 0;
  margin: 0;
  text-transform: none;
}

.history-options-button-container {
  text-align: center;
}

.history-link {
  color: black;
  text-decoration: underline;
  margin: auto;
}
