.dashboard__page {
  background: #69bf5f;
  background: #5bc44f;
  height: 100vh;
  width: 100vw;
  padding-top: 10rem;
  // background: #c8e6c9;
  // background: #a5d6a7;
  // background: #81c784;
  // background: #66bb6a;
  background: #4caf50;
  // background: #43a047; +
  // background: #388e3c;
  // background: #2e7d32;

  // background: #69f0ae;
  // background: #00e676;
  // background: #00c853;

}

.dashboard__task-box {
  background: #fff;
  width: 70%;
  height: 50%;
  margin: 0 auto;
  border-radius: 5px;
}
