// [CONTAINERS] //
.forum__flex-wrapper--home {
  display: flex;
  justify-content: space-around;
  padding: 2rem 3rem;
  // background: #eee;
}

// Topics //

.forum-topic {
  background: #FAF8EE;
  background: #f5f5f5;

  padding: 2rem 8rem .5rem 8rem;
  border-bottom: 1px solid #ddd;
  border-radius: 10px;
}
.forum-topic__flex-wrapper {
  // background: red;
  // padding: 5rem 0;
  padding: 1rem 1rem 0 1rem;
  min-height: 15rem;
  min-height: 9rem;
  display: flex;
  justify-content: space-between;
}
.forum-topic__flex-wrapper--left {
  // background: red;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.forum-topic__flex-wrapper--right {
  // background: blue;
  // width: 25%;
  // height: 90%;
  padding-bottom: 4%;
  p {
    margin: 0;
    height: 33%;
    font-size: 1.1rem;
    font-weight: 600;
    color: #555;

    .forum-topic__avatar {
      width: 2rem;
      margin-left: .5rem;
      vertical-align: middle;
      border-radius: 50%;
    }
    .forum-topic__avatar--initial {
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      font-size: 1.2rem;
      margin-left: .5rem;
      vertical-align: middle;

      // vertical-align: middle;
      // border-radius: 50%;
    }
  }
}

.forum-topic__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  border-bottom: 1px solid #bbb;
  padding-left: 1rem;
  .forum-topic__button--edit {
    margin-left: .5rem;
  }

  .forum-topic__title {
    width: 60%;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0;
  }
  .forum-topic__button--new-topic {
    // float: right;
  }
}

.forum-topic__info {

}
.forum-topic__body {
  color: #444;
  font-size: 1.2rem;
  width: 70%;
}

.forum-topic__num-responses {
  font-size: 1.6rem;
  font-weight: 300;
  margin: 0;
}

.forum-topic__form__overlay {
  height: 100vh !important;
  width: 100vw !important;
  overflow: hidden !important;
  position: fixed !important;
  z-index: 5 !important;
  background: transparentize(black, .5) !important;
  // background: blue !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.forum-topic__form {
  .forum-topic__form__flex-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // background: red;
    height: 96%;
    padding: 0 12%;
  }


  // overflow: hidden !important;

  background: #eee;
  border: 1px solid #ddd;

  width: 70%;
  // height: 93%;
  height: 83%;
  // height: 40rem;

  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  padding: 1rem 1.5rem;

  -webkit-animation: modal_fadein .5s ease;
  -moz-animation: modal_fadein .5s ease;
  -o-animation: modal_fadein .5s ease;
  animation: modal_fadein .5s ease;

  @-webkit-keyframes modal_fadein {
    from { opacity: 0 }
    to { opacity: 1 }
  }
  @-moz-keyframes modal_fadein {
    from { opacity: 0 }
    to { opacity: 1 }
  }
  @-o-keyframes modal_fadein {
    from { opacity: 0 }
    to { opacity: 1 }
  }
  @keyframes modal_fadein {
    from { opacity: 0 }
    to { opacity: 1 }
  }
}

.forum-topic__form__close-icon__wrapper {
  height: 2rem;
  height: 4%;

  width: 100%;
}

.forum-topic__form__close-icon {
  float: right;
  cursor: pointer;
}

.forum-topic__form__header {
  h3 {
    font-size: 2.3rem;
    color: #666;
    font-weight: 300;
    text-align: center;
    margin: 0;
    // background: grey;
    // font-weight: 300;
  }
  .forum-topic__form__input--title {
    // width: 60% !important;
    // margin: 0 auto !important;
    margin: 0 !important;
  }
}


.forum-topic__form__textarea-body {
  // border: 1px solid #ccc;
  width: 100%;

  // &.title {
  //   height: 4rem;
  // }
  // height: 15rem;
  height: 50%;
  transition: border .5s ease;
  label {
    font-size: 1.1rem;
    // color: #555;
  }
  textarea {
    height: 100%;
    &:hover {
      border: 1px solid #999;
    }
    &:focus {
      outline-color: #aaa !important;
    }
  }
}

.forum-topic__form__dropdown {
  width: 30%;
  margin: 0 auto;
}

.forum-topic__form__submit-button {
  // width: 20%;

  margin: 0 auto;

}



.forum-topic__list--home {
  background: #fff;
  width: 25%;
  h5 {
    // padding: 1.5rem 1rem;
    padding: 0 1rem;
    height: 4.5rem;
    height: 11%;
    line-height: 4.5rem;
    font-size: 1.4rem;
    color: #334;
    // margin: 0 0 1rem 0;
    margin: 0;
    background: #16222A;  /* fallback for old browsers */
    color: #ddd;
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  ul {
    height: 89%;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem .7rem;
      border-bottom: 1px solid #aaa;
      height: 10%;
      a {
        width: 65%;
        font-size: 1rem;
        font-weight: 600;
        color: #666;
        &:hover {
          text-decoration: underline;
        }
      }
      p {
        width: 25%;
        font-size: 1rem;
        color: #889;
        font-weight: 700;
        margin: 0;
      }
    }
  }
}

.forum-topic__section--subforum-page {
  width: 65%;
  margin: auto;
  .forum-topic__menu--subforum-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    border-bottom: 1px solid #aaa;
    font-family: "Lato", sans-serif;
    .forum-topic__pagination {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .forum-topic__pagination__nav-text {
        // margin-left: .4rem;
        margin: 0 .5rem;
        font-size: 1.1rem;
        color: #222;
        cursor: pointer;
        &.disabled {
          color: #bbb;
          cursor: default;
        }
      }
      .forum-topic__pagination__number {
        // margin-left: .4rem;
        margin: 0 .3rem;
        font-size: 1.1rem;
        color: #aaa;
        cursor: pointer;
        &.active {
          color: #222;
          font-size: 1.3rem;
          cursor: default;
          // vertical-align: baseline;
        }
      }
    }
  }
  h5 {
    margin: 1rem 0 1rem .5rem;
    font-size: 1.5rem;
    color: #666;
    font-family: "Lato", sans-serif;

  }
}

.forum-topic__list {
  .forum-topic__list__item {
    display: flex;
    justify-content: space-between;
    background: #fff;
    // height: 10rem;
    border-bottom: 1px solid #ccc;
    padding: 1rem 2rem;
    .forum-topic__list__item--left {
      display: flex;
      img {
        height: 2.5rem;
        // float: left;
      }
      .forum-topic__list__item__avatar--inital {
        height: 2.5rem;
        width: 2.5rem;
        line-height: 2.5rem;
        font-size: 1.6rem;
        margin: 0;
      }
      .forum-topic__list__item__main-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 1rem;
        word-spacing: 2px;
        .forum-topic__list__item__title {
          font-size: 1.1rem;
          font-weight: 700;
          color: #444;
          &:hover {
            text-decoration: underline;
          }
        }
        p {
          margin: .2rem 0 0 0;
          font-size: 1.1rem;
          font-weight: 400;
          color: #555;
          span {
            color: #aaa;
            // font-size: 1.1rem;
            font-weight: 600;
          }
        }
      }
    }
  }
  .forum-topic__list__item__responses {
    color: #000;
    font-size: 1.2rem;
    font-weight: 300;
  }
  .forum-topic__list__item:last-of-type {
    // border: none;
  }
}

// POSTS //

.forum-post__container {
  // padding-left: 8rem;
  // background: #faf8f0;
  // background: #f9f9f9;
}

.forum-post {
  // margin-top: 5rem;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #ddd;
  // background: #ddd;
}


.forum-post__subheading {
  height: 3.2rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  .forum-post__avatar {
    height: 3.2rem;
  }
  .forum-post__avatar--initial {
    height: 3.2rem;
    width: 3.2rem;
    background: #bbb;
    background: darken(#cbe3e6, 10%);

    color: #eee;
    font-size: 2rem;
    line-height: 3.2rem;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #888;
    font-family: "Lato", sans-serif;
  }

  div {
    // background: blue;
    // margin-left: .3rem;
    height: 3.2rem;
    padding: .3rem .5rem;

    .forum-post__author {
      color: #333;
      font-size: 1.15rem;
      font-weight: 700;
      margin: 0;
      margin-bottom: .3rem;
      span {
        color: #aaa;
        font-size: 1.1rem;
        font-weight: 400;
      }
    }
    .forum-post__timestamp {
      margin: 0;
      color: #555;
    }
  }
}

.forum-post__body {
  // margin-bottom: .5rem;
  // padding-left: 1rem;
  font-size: 1.1rem;
  color: #555;
}

.forum-post__form {
  height: 15rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.forum-post__form__header {
  height: 25%;
  background: #f5f5f5;
  display: flex;
  margin-left: .4rem;
  .forum-post__form__avatar {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    margin-left: .5rem;
  }
  .forum-post__form__avatar--initial {
    // color: red;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  padding: .4rem;

}

.forum-post__form__body {
  height: 55%;
  border: none;
  background: #fff;
  padding: .4rem 0 0 .8rem;
}

.forum-post__form__submit__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  background: #f5f5f5;
  padding: .4rem 1rem;


  .forum-post__form__submit {
    color: #555;
    text-decoration: underline;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;

    // font-style: italic;
  }

  .forum-post__form__discard {
    color: #888;
    // text-decoration: underline;
    // font-size: 1.1rem;
    // font-style: italic;
    cursor: pointer;
  }
}


// FORUM TABLE //
.forum-table {
  // padding: 0 2rem;
  width: 70%;
  // margin: auto;
  background: #fff;

  tr {
    text-indent: 20px;
  }

}
.forum-table__heading {
  height: 4.5rem;
  background: #3A6073;
  th {
    font-weight: 300;
    color: lightblue;
    font-size: 1.3rem;

  }
}
.forum-table__category {
  color: #888;
  font-size: 1rem;
  // font-weight: 600;
  // font-style: italic;
  border-top: 1px solid #bbb;
  // padding: 1rem .3rem;
  td {
    // padding: 0 !important;
  }
}

.forum-table__item {
  // padding: 0 1rem;
  // border-bottom: 1px solid #bbb;
}

.forum-table__item__title {
  // padding-left: 2rem;
  text-indent: 50px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #444;
  &:hover {
    text-decoration: underline;
  }
}



// NAVBAR //
.forum-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: black;
  height: 3.5rem;

}

.forum-navbar__title {
  color: white;
  font-size: 1.5rem;
}
.forum-navbar__search {

}


// MESSAGE //
.forum__message__wrapper {
  // width: 100%;
  position: absolute;

  width: 50rem;
  // width: 79%;
  // height: 4rem;
  left: 0;
  right: 0;
  top: 1rem;
  // top: 49rem;
  margin: 0 auto;
  // display: none;
}
.forum__message--success {
  height: 4rem;
  // width: 50rem;
  color: #2c662d;
  background: #fcfff5;
  // margin: 1rem auto;
  padding: .5rem 1.5rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 1px #a3c293 inset, 0 0 0 0 transparent;
  box-shadow: 0 0 0 1px #a3c293 inset, 0 0 0 0 transparent;

  opacity: 0;
  &.active {
    opacity: 1;
  }
  transition: opacity .4s ease;
  span {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 700;
  }
  i {
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 800;
    &:hover {
      color: darken(#2c662d, 50%);
    }
  }
}

.forum__message--error--topic-form {
  color: red;
}

// NAVBOX //
.forum-nav-box {
  width: 100%;
  height: 23rem;
  font-family: "Lato", sans-serif;
  // background: #0f0c29;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #16222A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.forum-nav-box--home {
  // text-align: center;
  padding: 5rem 0;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: center;

  h2 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 300;
    color: #ddd;
  }
  p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 400;
    color: #aaa;
    span {
      color: lightblue;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .input-field {
    margin: 0;
    // background: white;
  }
}

.forum-nav-box--subforum {
  // padding: 1% 17.5%;
  // padding: 5rem 0 .5rem 0;
  padding: 0;
  padding-top: 5rem;
  height: 18rem;
  // height: 25rem;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .forum-nav-box--subforum--top {
    width: 40%;
    text-align: center;
    h4 {
      margin: 0;
      font-size: 2rem;
      font-weight: 300;
      color: lightblue;
      // text-align: center;
    }
    .forum-nav-box__input {
      // width: 50%;
    }
  }

  // .forum-nav-box--subforum__flex-wrapper {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   justify-content: space-between;
  //   align-items: center;
  //
  // }
}

.forum-breadcrumb__wrapper {
  // height: 10%;
  // align-self: flex-start;
  background: transparent;
  height: 2.5rem;
  line-height: 2.5rem;
}

.forum-breadcrumb__wrapper--subforum {
  width: 65%;
}

.forum-nav-box__breadcrumb {
  font-size: 1.3rem;
  color: #ddd !important;
  &:hover:not(.active) {
    text-decoration: underline;
  }
  &.active {
    // color: #bbb;
    color: lightblue !important;
    // text-decoration: underline;
    cursor: default;
  }
}

// .forum-sidebar {
//   width: 15%;
//   background: blue;
// }
