.main-header {
  background: $header-bg;
  color: $header-color;
}

.header__content {
  display: flex;
  justify-content: space-between;
  max-width: 81rem;
  margin: 0 auto;
  padding: $space;
}

.header__title {
  color: white;
  margin: 0;
  font-size: 2.3rem;
  text-decoration: none;

  a {
    color: white;
  }
}
