.item {
  // background: $item-bg;
  // border: 1px solid $item-border;
  // margin-bottom: $space;
  // padding: $space;
  // background: $grey;
  // height: 5rem;
}

.item__title {
  // margin-left: $space / 4;
}

.item__message {
  color: $item-text-color;
}

.item__status-message {
  color: $item-text-color;
  font-style: italic;
  text-align: center;
  margin: 0;
}

.item__label {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  margin: $space;
}

.item__label.deleted {
  text-decoration: line-through;
}

.item__content {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #353535;
  line-height: .9rem;
}
