.loader__overlay {
  height: 100vh !important;
  width: 100vw !important;
  background: transparentize(black, .8) !important;
  opacity: .8;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // z-index: 5;
}
