.message__wrapper--dashboard {
  // width: 100%;
  position: fixed;

  width: 50rem;
  // width: 79%;
  // height: 4rem;
  left: 0;
  right: 0;
  top: 1rem;
  // top: 49rem;
  margin: 4rem auto 0 auto;
  // display: none;
}
.message--dashboard--success {
  color: #2c662d;
  background: #fcfff5;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 1px #a3c293 inset, 0 0 0 0 transparent;
  box-shadow: 0 0 0 1px #a3c293 inset, 0 0 0 0 transparent;
  overflow: hidden;
  padding: 0px;
  // opacity: 0;
  height: 0px;
  &.active {
    // opacity: 1;
    // padding: 0 1.5rem;
    height: 4rem;
  }

  transition: height .3s ease;

  // -webkit-animation: FadeIn 5s ease;
  // -moz-animation: FadeIn 5s ease;
  // -o-animation: FadeIn 5s ease;
  // animation: FadeIn 5s ease;
  //
  // @-webkit-keyframes FadeIn {
  //   0%{height: 0rem}
  //   10%{height: 4rem}
  //   90%{height: 4rem}
  //   100%{height: 0rem}
  // }
  // @-moz-keyframes FadeIn {
  //   0%{height: 0rem}
  //   10%{height: 4rem}
  //   90%{height: 4rem}
  //   100%{height: 0rem}
  //
  // }
  // @-o-keyframes FadeIn {
  //   0%{height: 0rem}
  //   10%{height: 4rem}
  //   90%{height: 4rem}
  //   100%{height: 0rem}
  //
  // }
  // @keyframes FadeIn {
  //   0%{height: 0rem}
  //   10%{height: 4rem}
  //   90%{height: 4rem}
  //   100%{height: 0rem}
  //
  // }


  span {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin-left: .6rem;
  }
  i {
    margin-right: .6rem;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 800;
    &:hover {
      color: darken(#2c662d, 50%);
    }
  }
}
