// .nav-header {
//   // mix-blend-mode: difference
//
//   background: transparent;
//   height: $header-height;
//
//   // background: transparentize($navy, .2);
//   font-family: 'Roboto', sans-serif;
// }

.nav-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;

  // font-family: 'Roboto', sans-serif;
  height: $header-height;
}

.nav-header__content {
  color: $leather;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 99rem;
  width: 80%;
  margin: 0 auto;
  height: 100%;

  @include link-font-style;
}

.nav-header__content--left > *, .nav-header__content--right > * {
  // margin-left: 2rem;
}

.nav-header__link--title {
  margin: 0;
  margin-left: 2rem;

  // font-family: 'Source Sans Pro', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: $green-darken-2;
}

.nav-header__link {
  color: $leather;
  margin-left: 2rem;
}

.nav-header__link:hover {
  color: $violet;
}


.nav-header.private {
  // background: transparentize($navy, .1);

  .nav-header__link, {
    color: black;
    // color: transparentize($light-grey, .3);
  }


  .nav-header__link:hover, {
    color: $grey;
  }
  .nav-header__link--title:hover {
    color: #D07878;
  }
  // edit
  // background: transparentize($navy, .6);
  background: transparentize(white, .1);
  // border-bottom: 1px solid rgba(100, 100, 100, .8);
  // mix-blend-mode: difference;

}
