// .nav-header {
//   // mix-blend-mode: difference
//
//   background: transparent;
//   height: $header-height;
//
//   // background: transparentize($navy, .2);
//   font-family: 'Roboto', sans-serif;
// }

.nav-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;

  font-family: 'Roboto', sans-serif;
  height: $header-height;
}

.nav-header__content {
  color: $leather;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 99rem;
  width: 80%;
  margin: 0 auto;
  height: 100%;

  @include link-font-style;
}

.nav-header__link--title {
  margin: 0;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: $large-font-size;
  font-weight: 700;
  color: $leather;
}

.nav-header__link {
  color: $leather;
}

.nav-header__link:hover {
  color: $violet;
}


.nav-header.private {
  // background: transparentize($navy, .1);

  .nav-header__link--title, .nav-header__link, {
    color: $coral;
    // color: transparentize($light-grey, .3);
  }


  .nav-header__link:hover, {
    color: $grey;
  }
  .nav-header__link--title:hover {
    color: #D07878;
  }
  // edit
  // background: transparentize($navy, .6);
  background: white;
  border-bottom: 1px solid rgba(100, 100, 100, .8);
  // mix-blend-mode: difference;

}
