.nav-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;

  height: $header-height;
  // background: #f5f5f5;

  &.public.landing {
    // mix-blend-mode: difference;
    &.scrolled {
      background: #f5f5f5;

      .nav-header__link {
        color: $dark-blue;
        // color: $dark-blue;
      }
      .nav-header__link--title {
        color: green;
      }
      .nav-header__link--signup {
        border-color: $dark-blue;
        &:hover {
          color: #fff;
          background: $dark-blue;
          // border-color: $dark-blue;
        }
      }
    }
  }
  &.public.signup {
    // border-bottom: 1px solid black;
    background: #52527a;
    .nav-header__link--title {
      color: white;
    }
    .nav-header__link {
      color: #ddd;
    }
    .nav-header__link--signup {
      border-color: #fff;
    }
  }
}

.nav-header__link {
  color: $deep-purple-lighten-3;
  margin-left: 2rem;
  font-size: 1rem;
  font-weight: 600;

  &.public {
    color: white;

    &.nav-header__link--signup {
      padding: .5rem 1rem;
      border: 1px solid #fff;
      // border: 1px solid $lime;
      // color: $lime;
      &:hover {
        // color: #fff;
        background: #fff;
        border-color: #fff;
      }
    }
  }
}

.nav-header__link--title {
  margin: 0;
  margin-left: 2rem;

  font-size: 1.7rem;
  font-style: italic;
  font-weight: 300;
  color: $deep-purple-darken-1;
  // vertical-align: text-top;

  height: 4rem;
  line-height: 3.8rem;
  &.public {
    color: white;
    margin-left: 0;

    // color: #B5FFDD;
  }
}


.nav-header__content {
  // color: $leather;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // max-width: 99rem;
  width: 90%;
  margin: 0 auto;
  height: 100%;

  // @include link-font-style;
}

.nav-header__user-email {
  color: grey;
}

.nav-header__sidebar-icon i {
  margin: 0 !important;
  width: 23px !important;
  cursor: pointer;
  color: $navy !important;

  // mix-blend-mode: difference;
}

.nav-header__link:hover {
  color: $violet;
}


.nav-header.private {

  .nav-header__link, {
    color: black;
  }

  .nav-header__link:hover, {
    color: $grey;
  }
  .nav-header__link--title:hover {
    color: #D07878;
  }

  background: transparentize(white, .1);

  &.doctor {
    background: black;

    .nav-header__link--title {
      color: $deep-purple-lighten-1;
    }

    .nav-header__link, {
      color: white;
    }

    .nav-header__user-email {
      color: #ddd;
    }

    .nav-header__sidebar-icon i {
      color: white !important;
    }
  }
}

// //
.nav-header__content--private {
  // color: $leather;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // max-width: 99rem;
  // width: 90%;
  margin: 0 auto;
  height: 100%;

  width: 95%;
}
.nav-header__content--left {
  display: flex;
  align-items: center;
  height: 4rem;
}
.nav-header__content--right {
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
  align-items: center;
  width: 8.5rem;

  .nav-header__icon__wrapper {
    height: 4rem;
    width: 3rem;
    line-height: 4rem;
    text-align: center;
    background: transparent;
    transition: background .3s ease;
    cursor: pointer;

    &:hover {
      background: #ddd;
    }

    // edit
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-header__icon__wrapper.nav-header__profile-item.active {
    background: #333;
  }
  .nav-header__icon__wrapper.nav-header__notifications-item.active {
    background: #f5f5f5;
  }
}

.nav-header__avatar {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.nav-header__avatar--initial {
  display: inline-block;

  height: 2rem;
  width: 2rem;
  background: #bbb;
  background: #bdf;
  background: #d3e1e3;
  background: #cadfe3;
  background: #cbe3e6;
  background: darken(#cbe3e6, 10%);
  color: #f5f5f5;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 2rem;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #aaa;
  font-family: "Lato", sans-serif;
  box-sizing: content-box;
  cursor: pointer;
  &:hover {
    background: darken(#cbe3e6, 15%);
  }
}

.nav-header__icon--menu {
  font-size: 1.8rem;
  color: #999;
  cursor: pointer;
}

.nav-header__icon--settings {
  font-size: 1.75rem !important;
  // height: 100%;
  line-height: 4rem !important;
  color: #aaa;
}

.nav-header__icon--help {
  font-size: 1.75rem !important;
  // height: 100%;
  line-height: 4rem !important;
  color: #777;
}

.nav-header__dropdown--avatar {
  width: 24rem;
  height: 13rem;
  background: #333;
  position: absolute;
  color: #fff;
  top: 4rem;
  right: 0rem;
  margin-right: 2.5%;
  display: none;
  &.active {
    display: block;
  }
}

.nav-header__dropdown--avatar__top-row {
  display: flex;
  justify-content: center;
  // background: pink;
  height: 80%;
  cursor: auto;


  .nav-header__dropdown--avatar__top-row__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    .nav-header__avatar {
      height: 6rem;
      width: 6rem;
      font-size: 3.6rem;
      line-height: 6rem;
      border-radius: 50%;
      cursor: auto;
    }
    .nav-header__avatar--initial {
      height: 6rem;
      width: 6rem;
      font-size: 3.6rem;
      line-height: 6rem;
      cursor: auto;
      &:hover{
        background: darken(#cbe3e6, 10%);
      }
    }
  }
  .nav-header__dropdown--avatar__top-row__right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 60%;
    line-height: normal;
    padding: 1.5rem 0 1rem 0;
  }
  .nav-header__dropdown--avatar__text {
    color: #f5f5f5;
  }
  .nav-header__dropdown--avatar__text--email {
    color: #ccc;
  }
}

.nav-header__dropdown--avatar__bottom-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  background: #f5f5f5;
  background: #e5e5e5;
  font-size: 1.2rem;
  &:hover {
    background: #ddd;
  }
  a {
    color: #222;
  }
}

.nav-header__dropdown--notifications {
  width: 24rem;
  height: 13rem;
  background: #f5f5f5;
  position: absolute;
  color: #333;
  top: 4rem;
  right: 0rem;

  text-align: left;
  padding: 1.4rem 1rem;
  line-height: normal;
  // margin-right: 2.5%;
  margin-right: calc(2.5% + ((8.5rem / 3) * 2);
  display: none;
  &:hover {
    cursor: default;
  }
  &.active {
    display: block;
  }
  .row {
    border-bottom: 1px solid #ddd;
    padding-bottom: .3rem;
  }
}

.nav-header__link--title {
  color: $green;
  color: $green-lighten-1;
  &:hover {
    color: $green-darken-1 !important;
  }
}

// DOCTOR LANDING //
.nav-header__link--title--doctor.public {
  color: $green-lighten-1;
  sup {
    color: #aaa;
  }
}



// FORUM //
.nav-header--forum {
  height: 4rem;
  background: $green-darken-4;
  background: transparent;
  position: absolute;
  -webkit-box-shadow: none;
  box-shadow: none;
  .nav-header__link--title {
    // margin: 0 2rem 0 0;
    color: #f5f5f5;
    margin: 0;
    &.topic-page {
      // color: $green;
    }
  }
  .nav-header__vl {
    border-right: 1px solid #999;
    opacity: .7;
    height: 60%;
    margin: 0 1rem;
  }
  .nav-header__link--dashboard {
    color: #ccc;
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 2rem;

    &.topic-page {
      // color: $green;
    }
  }
  .nav-header__content--right {
    // width: 18.5rem;
    // justify-content: space-between;
    // background: black;
  }
  .nav-header__button--forum {
    background: black;
  }
}

.page-footer {
  // display: none;
  border-top: 1px solid #aaa;
}
