.page-content {
  // margin: 0 auto;
  // max-width: $site-max-width;
  // padding: $space;
  // margin-top: $space;
  background-color: #f9f9f9;
  padding: $space * 2;
}

.page-content__segment {
  margin-top: $space;
}
