.page {
  width: 100%;
  min-height: 100vh;

  &.doctor {
    background-color: #36497c;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMGYxNjM1IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM1YzdiYzIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%,color-stop(0, rgb(15, 22, 53)),color-stop(1, rgb(92, 123, 194)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(left,rgb(15, 22, 53) 0%,rgb(92, 123, 194) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to right,rgb(15, 22, 53) 0%,rgb(92, 123, 194) 100%);
    background-image: -ms-repeating-linear-gradient(left,rgb(15, 22, 53) 0%,rgb(92, 123, 194) 100%);
  }
}

.page-content {
  background: white;
  min-height: 100vh;

  padding: $header-height 0 $space 0;
  width: $site-max-width;
  margin: 0 auto;

  -webkit-animation: page_content_fadein 2s ease;
  -moz-animation: page_content_fadein 2s ease;
  -o-animation: page_content_fadein 2s ease;
  animation: page_content_fadein 2s ease;

  @-webkit-keyframes page_content_fadein {
    from { opacity: 0 }
    to { orphans: 1 }
  }
  @-moz-keyframes page_content_fadein {
    from { opacity: 0 }
    to { orphans: 1 }
  }
  @-o-keyframes page_content_fadein {
    from { opacity: 0 }
    to { orphans: 1 }
  }
  @keyframes page_content_fadein {
    from { opacity: 0 }
    to { orphans: 1 }
  }

  // edit
  width: 100%;

  @media screen and (min-width: $tablet-breakpoint) {
    width: 95%;
    padding: $header-height 4% 0 4%;
  }

  &.doctor {
    background: transparent;
    padding: $header-height + 6rem 4% $space + 6rem 4%;
  }
}

.page-content__user-selected-symptoms-container {
  // margin-top: $space;
  // padding-top: $space;
  // min-height: 10rem;
  // background: pink;

  //edit

  padding: 0 3rem;

  @media screen and (max-width: 400px) {
    margin: auto;
    width: 327px;
    padding: 0;
  }


  .page-content__subheading {
    margin-bottom: $space / 3;
  }

}

.page-content__main-heading {
  margin: 2rem auto;
  // font-family: 'Source Sans Pro', sans-serif;
  // font-weight: bold;
  color: $deep-purple-lighten-3;
  // background: #26a69a;
  font-size: 2.5rem;
  font-weight: 500;
  // text-decoration: underline;
  text-align: center;
  // width: 0%;
  @media screen and (min-width: $tablet-breakpoint) {
    text-align: left;
    // width: 96%;
    border-bottom: 1px solid $deep-purple-darken-1;
    padding: .5rem $space;
  }
}

.page-content__subheading {

  color: #666;
  font-size: 1.5rem;
}

.intro_message_container {
  background: #E57373;
  color: white;
  -webkit-animation: message_fadein 2s ease;
  -moz-animation: message_fadein 2s ease;
  -o-animation: message_fadein 2s ease;
  animation: message_fadein 2s ease;
  @-webkit-keyframes message_fadein {
    0% { height: 0vh; }
    33% { height: 0vh; }
    100% { height: 74vh; }
  }
  @-moz-keyframes message_fadein {
    0% { height: 0vh; }
    33% { height: 0vh; }
    100% { height: 74vh; }
  }
  @-o-keyframes message_fadein {
    0% { height: 0vh; }
    33% { height: 0vh; }
    100% { height: 74vh; }
  }
  @keyframes message_fadein {
    0% { height: 0vh; }
    33% { height: 0vh; }
    100% { height: 74vh; }
  }
  height: 74vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  overflow: hidden;
  padding: 0 4rem;


  h1, p, span {
    // font-family: 'Source Sans Pro', sans-serif;
  }
  h1 {
    // font-size: 3.2rem;
    font-size: 2.9rem;
    font-weight: 300;
  }

  p {
    // font-size: 1.3rem;
    font-size: 1.1rem;
    // font-weight: 500;
  }

  span {
    color: $navy;
    font-size: 1.3rem;
    text-decoration: underline;
  }

  span:hover {
    color: white;
    cursor: pointer;
  }

  // @media screen and (min-width: 38.75rem) {
  @media screen and (min-width: $tablet-breakpoint) {
    padding: 0 13rem;
    width: 110%;
    position: relative;
    right: 5%;

    p {
      font-size: 1.7rem;
      font-weight: 300;
    }
  }
  // @media screen and (min-width: 70rem) {
  @media screen and (min-width: $desktop-breakpoint) {

    h1 {
      font-size: 4rem;
    }
  }
}

.intro_message_container.closed {
  height: 0vh;
  -webkit-transition: height 1s ease;
  transition: height 1s ease;
  -webkit-transition: height 1s ease;
}

.page-content--overlay {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: fixed;
  margin: 0;
  padding: 0;
  // right: 20vw;
  // bottom: $header-height;
  z-index: 3;
  background: transparentize(black, .5);

  // top: 10vh;
}

.input-response {
  height: .7rem;
  font-size: .7rem;
  margin-bottom: $space / 2;
  position: relative;
  bottom: 1rem;
}

.dashboard-user-info {
  padding: 0 7rem;
  height: calc(100vh - 4rem);
  background-size: 100% 100%;
  margin-top: 4rem;
}

.dashboard-user-info__top-row {
  display: flex;
  justify-content: space-between;
  height: 45%;
  width: 100%;
}

.dashboard-user-info__top-row > div {
  width: 20%;
}

.dashboard-user-info__bottom-row {
  display: flex;
  // justify-content: space-between;
  height: 20%;
  width: 100%;
  justify-content: flex-end;

  .tracked-items__wrapper {
    width: 18%;
    height: 80%;
    background: black;
    opacity: .8;
    border-radius: 10px;
    padding: 0 $space;

    h5 {
      font-size: 1.2rem;
      color: $deep-purple-lighten-3;

      a {
        font-size: 1rem;
        display: none;
      }
    }
    &:hover a {
      display: inline;
    }

    .tracked-items {
      .tracked-items__item-name {
        color: white;

      }
    }
  }
}

.userPhoto__wrapper {
  // position: absolute;
  // top: 10rem;
  // left: 10rem;

  // height: 100%;
  // width: 15rem;
}

.userPhoto {
  height: 10rem;
  // width: 12rem;
  border-radius: 20px;
}

.dashboard-user-info__name {
  color: white;
  font-weight: 500;
  font-size: 1.9rem;
  text-transform: capitalize;
  text-align: center;
}

.dashboard-user-info__tasks-box {
  width: 40%;
  min-width: 24rem;
  margin: 0 auto;
  background: transparentize(white, .1);
  min-height: 17rem;
  border: 3px solid $deep-purple-lighten-2;
  border-radius: 10px;
  padding: 0 1rem;

  p {
    font-size: 1.2rem;
  }

  h6 {
    font-weight: 500;
  }

  span {
    font-size: 1rem;
    margin-left: $space / 2;
  }

  button, a {
    margin: $space / 4 0;
  }

}

.dashboard-chart-section {
  // background: pink;
  padding: $space 2rem 0 2rem;
  // min-height: 100vh;

  margin-bottom: 0 !important;

  .btn:first-of-type {
    margin-right: $space;
  }
}

.dashboard-chart-section.symptoms {
  // background: #dfdfdf;
}
.dashboard-chart-section.treatments {
  background: $leather;
}

.dashboard-chart-section__list {
  // overflow-y: auto;
  // margin-bottom: $space;
  // li {
  //   font-size: 1.2rem;
  //   padding-top: .4rem !important;
  //   padding-bottom: .4rem !important;
  // }
}

.dashboard-chart-section__chart__wrapper {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // height: 24rem;
  // height: 100vh;
  // width: 100%;


}

.dashboard-chart-section__chart {
  border: 1px solid #aaa;
  border-radius: 10px;

  background: white;
  // background: pink;

  // height: 100%;
  width: 100%;
  // padding-top: 5rem;
  // padding: 2rem;
}

.dashboard-chart-section__collection-header-icon {
  font-size: 1.7rem;
  padding: 0 .3rem;
}

.treatment-collection-item {
  font-weight: 500;
  i {
    margin-left: .3rem;
    font-size: 1.7rem;
    vertical-align: middle;
  }
}

.doctor-six-char-key {
  color: pink;
}


// edit
.page-content--select-treatment-page2 {
  background: #f5f5f5;
  padding: $header-height + $space 4rem $space 4rem;
  margin: 0;
  width: 100%;
  height: calc(100vh - 4rem);
  // height: 100vh;
}

.page-content--select-treatment-page2__flex-wrapper {
  display: flex;
  justify-content: space-around;
  height: 92%;
}

.page-content--symptom-history__graph-wrapper {
  // background: black;
  padding: 2rem;
  border: 2px solid grey;
}

.page-content-welcome-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding: 2rem;
  width: 65%;

  p {
    font-size: 1.2rem;
    // text-align: center;
  }
}

.page-content--forum {
  width: 100%;
  background: #faf8f0;
  padding: $header-height 0 0 0;
}
