.pt-search__header {
  // font-size: 1.8rem;
  // font-weight: 300;
  padding: 0 5rem;
  padding: 0 4rem;
  border-bottom: 1px solid #ddd;
  // color: #111;
  height: 4rem;

  // line-height: 4rem;
  background: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;
  .pt-search__header--left, .pt-search__search-box {
    // width: 20%;
    flex: 1;

  }
  h2 {
    font-size: 1.7rem;
    // font-weight: 300;
    font-weight: 400;
    color: #555;
    flex: 1;
    text-align: center;
  }

  .pt-search__search-box {
    text-align: right;
    .input-field {
      margin-top: 0 !important;
    }
    a {
      color: #777;
      margin-left: 1rem;
      // text-decoration: underline;
      font-size: 1.1rem;
      font-weight: 600;

      border: 1px solid #777;
      padding: .3rem 1rem;
      border-radius: 3px;
      transition: all .3s ease;
      &:hover {
        // color: #444 !important;
        // color: #444 !important;
        background: #777;
        color: #fff;
      }
    }
  }
}

.pt-search__results {
  // background: #999;
  width: 48%;
  min-height: 40rem;
  margin: 2rem auto 0 auto;
  background: #fff;
  // padding: 1rem 1.5rem;
  padding-top: 2rem;
  // height: 100%
}
.pt-search__results__message {
  width: 80%;
  margin: auto;
  font-weight: 600;
  font-size: 1.05rem;
  color: #444;
  // text-align: center;
  // margin-top: 1rem;
}

.pt-search__results__message--found {
  margin: 0 0 1rem 3rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: #444;
  text-decoration: underline;
}

.pt-search__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background: #999;
  padding: 1rem 2.5rem;
  border-bottom: 1px solid #eee;
}

.pt-search__item:last-child {
  border-bottom: none;
}

.pt-search__item__avatar__wrapper {
  float: left;
}

.pt-search__item__avatar {
  height: 2.5rem;
  border-radius: 50%;
}

.pt-search__item__avatar--initial {
  height: 2.5rem;
  width: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.6rem;
  margin: 0;
}

.pt-search__item__info {
  margin-left: 1rem;
  display: inline-block;
  h5 {
    font-size: 1.1rem;
    font-weight: 600;
    color: #999;
    margin: 0;
  }
  h6 {
    margin: 0;
    font-size: 1.05rem;
    color: #222;
  }
  p {
    margin: 0;
    // font-size: 1.rem;
    color: #000;
    font-weight: 300;
  }
}

.pt-search__item__action {
  // float: right;
  .pt-search__item__action--current-pt {
    color: #3a3;
    font-weight: 600;
    border: 1px solid #3a3;
    padding: .3rem .5rem;
  }
}
