.user-symptom {
  width: 40rem;
  color: #446;
}

.user-symptom__remove-icon {
  visibility: hidden;
  cursor: pointer;
}

.user-symptom:hover .user-symptom__remove-icon {
  visibility: visible;
}

.symptom-chart-wrapper {
  // background: black;
  // max-width: 80%;
  // margin: 0 auto;
  // text-align: center;
  // margin-bottom: 20px;
}
