.page-content--symptom-history {
  width: 100%;
  padding: 4rem 0 0 0;
}

.symptom-history__flex-wrapper {
  display: flex;
  flex-direction: row;
}
.symptom-history__wrapper--select-five {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 2rem 1.4rem;
  // height: 30rem;
  width: 100%;

  .symptom-history__symptom-list--select-five {
    margin-top: 2rem;
    width: 20%;
  }
  .symptom-history__chart-wrapper--select-five {
    height: 100%;
    width: 80%;
  }
}

.symptom-history__navbar__container {
  width: 15%;
}

.symptom-history__navbar {
  position: fixed;
  border-right: 1px solid lightblue;
  height: calc(100vh - 4rem);
  // padding: 2rem $space 0 $space;
  width: 15%;

  .Collapsible__trigger, .symptom-history__navbar__link, .symptom-history__navbar__tab  {
    border: none;
    margin: 0;
    // padding: 0;
    padding: .8rem $space;
    font-size: .9rem;
    color: #555;
    font-weight: 600;
    // background: green;
    background: #fff;
    transition: background .4s ease;
    cursor: pointer;
    &:hover {
      background: #eee;
    }
    &.active {
      background: #66bb6a;
      color: #fff;
    }
  }

  .Collapsible__trigger.is-open {
    background: #eee;
  }

  .Collapsible__contentInner {
    padding: 0;
    border: none;
  }
}

// .symptom-history__navbar .Collapsible__trigger.is-open {
//   background: #d5d5d5 !important;
// }

.symptom-history__navbar__tab {
  // color: grey;
  // cursor: pointer;
  // margin-bottom: .4rem;
  padding: .8rem $space * 2 !important;
  font-weight: 400 !important;
  color: #222 !important;
  &.active {
    color: #fff !important;
    // color: black;
    // font-size: 1.1rem;
    // text-decoration: underline;
    // background: #66bb6a;
  }
}

.symptom-history__graph-view__container {
  background: $eggshell;
  min-height: calc(100vh - 4rem);
  width: 85%;
  padding-top: 2rem;
}

.symptom-history__graph-view {
  padding: 0 2rem;
}

.symptom-history__title {
  font-size: 1.6rem;
  color: #335;
}
.symptom-history__title--system {
  font-size: 2rem;
  margin: 0;
}

.symptom-history__toggle-link {
  text-decoration: underline;
  color: #23f;
  font-size: 1.1rem;
  cursor: pointer;
  width: 10rem;
  &.active {
    color: #999;
  }
}
