.treatment-chart__wrapper {
  // For dashboard and pt summary pages //

  margin-top: 8px;
  border: 1px solid #aaa;
  background: white;
  border-radius: 10px;
  overflow-x: auto;
  padding: $space / 2;
  min-height: 34rem;
}

.treatment-chart {
  // width: 100vw;
}

.treatment-chart__label__container {
  display: inline-block;
  width: 15%;
  vertical-align: top;
  text-align: right;
  padding-right: 10px;
}
.treatment-chart__label {
  // float: left;
  height: 26px;
}

.treatment-chart__label.deleted {
  text-decoration: line-through;
}


.treatment-chart__item__container {
  display: inline-block;
  // padding: $space / 4;
  // width: 800px;
  // width: max-content;
  // min-width: 100%;
  border: 1px solid #777;
  border-radius: 7px;
  overflow: hidden;

}

.treatment-chart__item {
  border-bottom: 1px solid #999;
  // border-radius: 10px;
  background: transparent;
  // height: 25px;
  // display: inline-block;
  min-width: 100%;
  overflow: hidden;
  &:last-of-type {
    border: none;
  }
}

.treatment-chart__block-segment {
  height: 100%;
  height: 25px;
  width: 45px;
  background: white;
  // display: inline-block;
  float: left;
}

.treatment-chart__block-segment.Yes {
  // background: $yes-checkin-answer-primary;
}
.treatment-chart__block-segment.No {
  // background: $no-checkin-answer-primary;
  text-align: center;
  vertical-align: top;
  font-weight: 300;
  // trans
  span {
    display: inline-block;
    transform:scale(4, 2);
    color: #111;
  }
}
.treatment-chart__block-segment.Some {
  // background: $some-checkin-answer-primary;
}
.treatment-chart__block-segment.null {
  // background: grey;
  text-align: center;
  vertical-align: top;
  font-weight: 700;
  span {
    font-size: 1.5rem;
    line-height: 25px;
  }
}
// .treatment-chart__block-segment.aaa {
//   background: pink;
// }

.treatment-chart__date__container {
  margin-left: 15%;
}

.treatment-chart__date {
  font-size: .8rem;
  display: inline-block;
  width: 45px;
  height: 20px;
  margin: 0 auto;
  -ms-transform: rotate(-20deg); /* IE 9 */
  -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
  transform: rotate(-20deg);
}

.treatment-chart__date.missing {
  // color: red;
  // text-decoration: line-through;
}

.treatment-chart__legend {
  border: 1px solid black;
  padding: $space / 2 $space / 4;
  margin-top: $space / 2;
}

.treatment-chart__legend__item__block {
  width: 25px;
  height: 12px;
  border: 1px solid #ddd;
  display: inline-block;
  margin-right: $space / 4;
}

.treatment-chart__legend__item__block.yes {
  background: $yes-checkin-answer-primary;

}
.treatment-chart__legend__item__block.some {
  background: $some-checkin-answer-primary;
}
.treatment-chart__legend__item__block.no {
  background: $no-checkin-answer-primary;
}
.treatment-chart__legend__item__block.missing {
  background: grey;
}
.treatment-chart__legend__item__block.NPD {
  background: white
}
.treatment-chart__legend__item__block.checkin-missing {
  background: white;
  color: red;
  text-decoration: line-through;
  font-size: .6rem;
  border: none;
  -ms-transform: rotate(-20deg); /* IE 9 */
  -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
  transform: rotate(-20deg);
}
