.treatment-item {
  margin: $space 0;
  border: 2px solid transparent;
}

.treatment-item__heading {
  color: $dark-grey;
  text-align: center;
  height: 3rem;
  margin: 0;
}

.treatment-item__remove-icon {
  cursor: pointer;
  visibility: visible;

  @media screen and (min-width: $desktop-breakpoint) {
    visibility: hidden;
  }
}

.treatment-item:hover {
  border: 2px solid white;
  border-color: fade-in($item-border, 1);
}

.treatment-item:hover .treatment-item__remove-icon {
  visibility: visible;
}

.select-treatment-bottom-error {
  display: none;
}

.select-treatment-bottom-error.revealed {
  display: inline;
}

.add-treatment-button {
  width: 100%;

  @media screen and (min-width: $tablet-breakpoint) {
    width: auto;
  }
}

.treatment-details-section {
  border: 1px solid #aaa;
  height: 30rem;
  // input {
  //   width: 60% !important;
  // }
  .date-picker-wrapper {
    // height: 13rem;
    height: 18rem;
    width: 20rem;
    font-size: 1rem;

    td {
      padding: $space / 4;
    }
  }
}
