.treatment-editor {
  flex: 4;
  background: white;
  border: 1px solid #ddd;
  padding: 0 2.5rem;
  margin: 1rem 0 1rem 1rem;
}

.treatment-editor--no-treatment-message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

.treatment-editor__title {
  font-size: 1.5rem !important;
}

.treatment-editor__details-box {
  overflow-y: auto;
  height: 83%;
}

.treatment-editor__column-group {
  padding: 0 2rem !important;
  border-radius: 15px !important;
}

.treatment-editor2__section--dosing__dosing-format-container {
  border-right: 1px solid grey !important;
}

.treatment-editor__column-group__flex-wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
}

.treatment-editor__column-group__title {
  font-size: 1.3rem;
  padding: 1rem 0;
}

.dosing-form__text {
  position: relative !important;
  top: 1.8rem !important;
  color: #444;
}

.rx-detail-form {
  // margin-top: 2rem;
  width: 90% !important;
  padding: 3rem 0 !important;
  border-radius: 15px !important;
  background: white !important;
}

.rx-detail-form--dosing__wrapper {
  // background: pink;
  display: flex;
  align-items: center;
  // justify-content: center;
  height: 70%;
}













.treatment-editor2__overlay {
  height: 100vh !important;
  width: 100vw !important;
  overflow: hidden !important;
  position: fixed !important;
  // margin: 0 !important;
  // padding: 0 !important;
  z-index: 5 !important;
  background: transparentize(black, .5) !important;
  // background: blue !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.treatment-editor2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow: hidden !important;

  background: white;
  border: 1px solid #ddd;

  width: 85%;
  height: 93%;

  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  padding: .5rem 1.5rem;

  -webkit-animation: modal_fadein .5s ease;
  -moz-animation: modal_fadein .5s ease;
  -o-animation: modal_fadein .5s ease;
  animation: modal_fadein .5s ease;

  @-webkit-keyframes modal_fadein {
    from { opacity: 0 }
    to { opacity: 1 }
  }
  @-moz-keyframes modal_fadein {
    from { opacity: 0 }
    to { opacity: 1 }
  }
  @-o-keyframes modal_fadein {
    from { opacity: 0 }
    to { opacity: 1 }
  }
  @keyframes modal_fadein {
    from { opacity: 0 }
    to { opacity: 1 }
  }

  // edit for TreatmentEditor3

}

.treatment-editor2__section {
  width: 85%;
  height: 90%;
  margin-bottom: .5rem !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

.treatment-editor2__section--name {
  border: 2px solid black;
}

.treatment-editor2__section--dates {
  border: 2px solid #0288d1;

  .row {
    margin-bottom: 10px !important;
  }
}

.treatment-editor2__section--dosing {
  border: 2px solid #d32f2f;
}

.treatment-editor2__section--instructions {
  border: 2px solid #388e3c;
}

.treatment-editor2__section--info {
  border: 2px solid #512da8;
}

.treatment-editor2__section__header {
  margin: 0;
  padding: 2rem 0;
  font-size: 3rem;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  // edit for TreatmentEditor3
  font-size: 2rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 1rem;
  text-align: center;

  .material-icons {
    font-size: 3rem;
  }

  &.name {
    background: black;
  }
  &.dates {
    background: #0288d1;
  }
  &.dosing {
    background: #d32f2f;
  }
  &.instructions {
    background: #388e3c;
  }
  &.info {
    background: #512da8;
  }
}

.treatment-editor2__section__subheader {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.treatment-editor2__section__tab__container {
  display: flex;
  justify-content: space-between;
  // border: 1px solid #ddd;
  width: 85%;
  height: 2rem;
  margin: auto;
}
.treatment-editor2__section__tab {
  // border-top: 1px solid #fff;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  width: 20%;
  text-align: center;
  font-size: 1.1rem;
  cursor: pointer;
  padding-top: .2rem;

  &.name {
    color: black;
    &.active {
      background: black;
      border-color: black;
    }
  }
  &.dates {
    color: #0288d1;
    &.active {
      background: #0288d1;
      border-color: #0288d1;
    }
  }
  &.dosing {
    color: #d32f2f;
    &.active {
      background: #d32f2f;
      border-color: #d32f2f;
    }
  }
  &.instructions {
    color: #388e3c;
    &.active {
      background: #388e3c;
      border-color: #388e3c;
    }
  }
  &.info {
    color: #512da8;
    &.active {
      background: #512da8;
      border-color: #512da8;
    }
  }

  &.active {
    color: white;
    cursor: auto;
  }
}

.treatment-editor2__section__tab:first-child {
  border-left: none;
}
.treatment-editor2__section__tab:last-child {
  border-right: none;
}

.treatment-editor2__error-message {
  color: #BC6060;
  background: #E2CECE;
  padding: 1rem;
  border-radius: 2px;
  border: 1px solid #BC6060;
  font-style: bold;
}



.treatment-editor2__bottom-row__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 83%;
  margin: auto;
  padding-left: 9.5rem;
}

.treatment-editor2__finish-button {
  text-align: center;
  margin: 0 auto;
}
.treatment-editor2__prvious-button {

  font-weight: 500;
  width: 5rem;
  text-align: center;
  color: #64b5f6;
  cursor: pointer;
  &.disabled {
    color: #bbb;
    cursor: default;
  }
}
.treatment-editor2__next-button {
  color: #444;
  font-weight: 500;
  width: 3rem;
  text-align: center;
  margin-left: 1.5rem;
  &:hover {
    cursor: pointer;
  }
  &.disabled {
    color: #bbb;
    cursor: default;
  }
}


.treatment-editor2__update-confirmation {

  background: #f5f5f5;
  border: 1px solid #ddd;

  width: 60%;
  height: 85%;

  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  padding: .5rem 1.5rem;

  -webkit-animation: modal_fadein .5s ease;
  -moz-animation: modal_fadein .5s ease;
  -o-animation: modal_fadein .5s ease;
  animation: modal_fadein .5s ease;

  @-webkit-keyframes modal_fadein {
    from { opacity: 0 }
    to { opacity: 1 }
  }
  @-moz-keyframes modal_fadein {
    from { opacity: 0 }
    to { opacity: 1 }
  }
  @-o-keyframes modal_fadein {
    from { opacity: 0 }
    to { opacity: 1 }
  }
  @keyframes modal_fadein {
    from { opacity: 0 }
    to { opacity: 1 }
  }
}

.treatment-editor2__update-confirmation__back-link {
  color: blue;
  &:hover {
    cursor: pointer;
  }
}
.treatment-editor2__update-confirmation__header {
  font-size: 2rem;
}

.treatment-editor2__update-confirmation__table {
  height: 80%;
  overflow-y: auto;
  border: 1px solid black;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.treatment-editor2__update-confirmation__row__title {
  text-align: center;
  font-size: 1.6rem;
}
.treatment-editor2__update-confirmation__row {
  width: 87%;
  color: #444;
  font-size: 1.2rem;
  text-align: center;
  border-bottom: 1px solid #aaa;
}

.treatment-editor2__update-confirmation__arrow {
  font-size: 4rem;
  color: black
}
