.treatment-item {
  margin: $space 0;
  border: 2px solid transparent;
}

.treatment-item__heading {
  color: $dark-grey;
  text-align: center;
  height: 3rem;
  margin: 0;
}

.treatment-item__remove-icon {
  cursor: pointer;
  visibility: visible;

  @media screen and (min-width: $desktop-breakpoint) {
    visibility: hidden;
  }
}

.treatment-item:hover {
  border: 2px solid white;
  border-color: fade-in($item-border, 1);
}

.treatment-item:hover .treatment-item__remove-icon {
  visibility: visible;
}

.select-treatment-bottom-error {
  display: none;
}

.select-treatment-bottom-error.revealed {
  display: inline;
}

.add-treatment-button {
  width: 100%;

  @media screen and (min-width: $tablet-breakpoint) {
    width: auto;
  }
}

// .treatment-details-section {
//   // border: 1px solid #aaa;
//   border-top: 3px solid $deep-purple-lighten-3;
//   height: 20rem;
//   padding: $space 0;
//   display: flex;
//
//   .days-of-week-list {
//     margin: 0 2rem;
//
//     button {
//       margin-bottom: $space / 2;
//     }
//   }
// }

.date_select_mode_btn {
  width: 100%;
  height: 50px;
  // margin-top: 1.4rem;
  line-height: 3rem;
  text-align: center;

  border: 1px solid #ccc;

  border-radius: 20px;
}
.date-picker-wrapper {
  // width: 20rem;
  font-size: 1rem;
  z-index: 3;



  td {
    padding: $space / 4;
    border: 1px solid #ccc;
  }
}

.date_select_mode_btn.selected {
  border: 2px solid $deep-purple-lighten-3;
}
