.symptom-group {
  // border: 1px dotted #eee;
  // width: 25%;
  padding: $space 0;
  // font-family: 'Source Sans Pro', sans-serif;
  // background: $eggshell;

  // edit
  width: 100%;
  padding: $space;

  // text-align: center;

  @media screen and (min-width: $tablet-breakpoint) {
    width: 50%;
  }
  @media screen and (min-width: $desktop-breakpoint) {
    width: 25%;
  }
  // .switch {
  //   width: 100%;
  //
  //   label {
  //     width: 100%;
  //     .symptom-checkbox-label-name {
  //       width: 50%;
  //     }
  //   }
  // }
}

.symptom-group__container {

  display: flex;
  // background: $eggshell;
  flex-direction: row;
  flex-wrap: wrap;
  // height: 80rem;
  justify-content: center;
  // align-items: baseline;
  margin: $space 0;
  // padding-bottom: $space * 2;


  // border: 1px solid $grey;
  // box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.symptom-group__container > .otherSymptom {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.symptom-group__item {
  margin: $space / 2 $space * 2;
  display: flex;
}

.symptom-group__category {
  color: black;
  font-size: 1.2rem;
  font-weight: 300;
  // margin-left: $space / 2;

  // font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  padding: .9rem 1.3rem;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.symptom-group__item__title {
  color: #444;
  font-size: 1rem;
  margin-left: $space / 4;
  text-align: left;
}

.user-symptom {
  // font-family: 'Source Sans Pro', sans-serif;
  color: #111;
  font-size: 1.2rem;
  font-weight: 600;
}

.user-symptom__remove-icon {
  visibility: visible;
  cursor: pointer;

  @media screen and (min-width: $desktop-breakpoint) {
    visibility: hidden;
  }
}

.collection-item.user-symptom:hover .user-symptom__remove-icon {
  visibility: visible;
}

.symptom_toggle.react-toggle--checked {
  .react-toggle-track {
    background: $coral;
  }

  .react-toggle-track-x {
    display: none;
  }
}
